* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.button-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.button-color-start {
  margin-right: 15px;
}

.button-color {
  font-size: 40px;
  font-weight: 700px;
  padding: 25px;
  border-radius: 10px;
  background-color: rgb(194, 189, 189);
}

.timer-input {
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
  margin: 15px 30px;
}

.timer-button {
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 5px;
}

.timer {
  display: flex;
}

.field {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 36px;
  font-weight: 500;
}

.label {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 500;
}
